.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #e9e9e9;
  color: #303030;
}

.conteudo {
  flex: 1;
}

.conteudo > section {
  padding: 0 20px 20px;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .menu-lateral {
    width: 220px;
    min-height: 100vh;
  }

  .conteudo {
    flex: 1;
  }
}