:root{
    --cor-fundo:#efefef;
    --cor-texto:#303030;
    --cor-borda:#ddd;
    --cor-erro:#d40000;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:var(--cor-fundo);
    color:var(--cor-texto);
}